@import './styles/base/reset';
@import './styles/utilities/variables';
@import './styles/components/grid';

.container {
  padding: $space-73 $space-35;
  background: $purple-50;
  font-family: $font-primary;
}
